@import 'styles/theme';

.auth {
  &-btn {
    &-register {
      margin: 0.6em 0 !important;
      min-width: 150px;
    }
    &-login {
      margin: 0.2em 0 !important;
      min-width: 150px;
    }
  }

}

