@import 'styles/theme';

.edit {
  h1 {
    display: block;
    padding-bottom: 20px;
  }

  form {
    width: 280px;
    text-align: center;
  }

  .form-field {
    margin-top: 20px;
  }

  &-backbutton {
    margin-top: 2em;
  }

  &-savebutton {
    width: 100%;
    margin-top: 50px;
  }
}
