@import 'styles/theme';

.edit {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &-back-container {
    height: 120px;
  }

  &-content-container {
    display: grid;
    align-items: center;
    flex: 1 1 auto;
  }

  h1 {
    display: block;
    padding-bottom: 20px;
    padding-top: 0;
  }

  form {
    width: 280px;
    text-align: center;
  }

  .form-field {
    margin-top: 20px;
    width: calc(100% - 7px);
  }

  &-backbutton {
    margin-top: 2em;
  }

  &-savebutton {
    display: block;
    width: 100%;
    margin-top: 40px !important;
  }

  &-successmessage {
    width: 280px;
    margin-top: 20px;
    text-align: center;
  }
}
