@import 'styles/theme';

#muteAudio{
  margin-bottom: 10px;
  margin-top: 30px;
}

.game {
  display: flex;
  flex-direction: column;
  align-content: center;

  &-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    &-agora {
      img {
        padding: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
        user-select: none;
        border: solid 2px white;
        background-repeat: no-repeat;
        background-size: 70% auto;
        background-position: center;
        transition: background-image 3s ease, border 3s;
        &:hover {
          cursor: pointer;
          background-color: rgba(0,0,0,0.4);
        }
      }
    }
  }
  
  &-stage-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      padding-bottom: 0;
    }
    p {
      margin: 0.3em auto 0.5em auto;
      font-size: 1.2em;
    }
  }
  &-player-selection {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    img, .video {
      transition: all 0.2s ease-in-out;
      &:hover {
        border: 3px solid green;
        cursor: pointer;
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      max-width: $width-xl;
      margin: 0 auto;
    }
    h2 {
      padding: 0.1em 0;
    }
  }
  .btn-remove {
    margin: 1em 0;
  }
  &-stage-counter {
    z-index: 0;
    position: absolute;
    bottom: 90px; // fix
    left: 50%;
    transform: translateX(-50%) ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-family: $font-default;
      margin: 0 0 0.2em 0;
      padding: 0;
    }
    h2 {
      font-family: $font-default;
      margin: 0;
      padding: 0;
    }
  }
  &-dead {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) ;
    background-size: contain;
    background-position: center;
    height: 40vh;
    width: 100vw;

    // &-dark {
    //   /* background-image: url('../../../public/assets/images/cemetery-dark.png') !important;
    //   background-size: cover;
    //   background-repeat: no-repeat; */
    // }

    // &-light {
    //   /* background-image: url('../../../public/assets/images/cemetery-light.png') !important; */
    // }
  
    &-players {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: $width-xl;
      background-color: rgba(170, 170, 170, 0.5);
      border-radius: 20px 20px 0 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-height: 80px;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      
      &-light {
        background-color: rgba(34, 139, 34, 0.5);
      }
      &:hover {
        max-height: 250px;
        transition: all 0.5s ease-in-out;
        //background-color: rgba(170, 170, 255, 0.8);
        .profile-dead-player {
          .profile-name {
            opacity: 1;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
