@import 'styles/theme';

.home {
    h1 {
        line-height: 1.2;
        margin-bottom: 20px;
    }
    button {
        height: 50px;
        width: 180px;
    }
    &-logout {
        margin-top: 2em;
        width: 120px !important;
    }
    &-user_wrapper{
        a {
            text-decoration: underline 2px solid white;
            h5 {
                margin: 0;
                color: white;
            }
        }
        h1 {
            padding-bottom: 5px;
        }
    }
    &-old-lobby {
        margin-top: 6em;
        &-buttons {
            margin-top: 20px;
        }
        &-leave {
            margin-left: 10px;
        }
    }
    &-create-lobby{
        margin-top: 6em;
    }
    &-join-lobby{
        display: flex;
        flex-direction: row;
        align-items: top;
        button {
            margin: 10px 0 0 40px;
        }
    }
}
