@import 'styles/theme';

.home {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    &-logout-container {
        height: 120px;
    }
    &-content-container {
        display: grid;
        align-items: center;
        flex: 1 1 auto;
    }
    h1 {
        line-height: 1.2;
        margin-bottom: 20px;
    }
    button {
        height: 50px;
        width: 180px;
    }
    &-logout {
        margin-top: 2em;
        width: 120px !important;
    }
    &-user_wrapper{
        width: 100%;
        a {
            text-decoration: underline 2px solid white;
            h5 {
                margin: 0;
                color: white;
            }
        }
        h1 {
            padding-bottom: 5px;
        }
    }
    &-old-lobby {
        margin-top: 6em;
        &-buttons {
            margin-top: 20px;
        }
        &-leave {
            margin-left: 10px;
        }
    }
    &-create-lobby{
        margin-top: 6em;
        .btn {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &-join-lobby{
        display: flex;
        align-items: center;
        button {
            margin-left: 30px;
        }
    }
}
