@import 'styles/theme';

.information {
  bottom: 0;
  left: 0;
}

.own-role-container {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -30px;
  position: absolute;
  padding-left: 180px;
  padding-right: 180px;
  @include center;
  flex-direction: column;

  h5{
    margin-bottom: -30px;
  }

  p{
    margin-bottom: -10px;
  }
}

.all-role-container {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -30px;
  position: absolute;
  padding-left: 60px;
  padding-right: 60px;
  @include center;
  flex-direction: column;

  h5{
    margin-bottom: -20px;
  }

  p{
    margin: 30px 300px -20px;
    text-align: center;
  }

  .roles-column {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    .individual-role {
      @include center;
      flex-direction: column;

      img {
        height: 240px;
        width: 150px;
        border-radius: 20px;
        margin-top: -10px;
        margin-bottom: -20px;
        border: 1px solid grey;
      }
    }
  }
}