@import 'styles/theme';

.lobby {
    &-body{
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: hidden;
    }
    &-headerrow{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1em;
        .details-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h5 {
                margin-top: 0;
            }
        }
        .admin-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            h5 {
                margin-right: 1em;
            }
        }
    }
    &-userrow{
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 1em;
        width: 100%;
        flex-wrap: wrap;
        flex: 1 0 auto;
        // To enable overflow-y height must be set. Refer to:
        // https://stackoverflow.com/questions/14962468/how-can-i-combine-flexbox-and-vertical-scroll-in-a-full-height-app
        height: 0;
        overflow-y: auto;
    }
    &-footerrow{
        display: flex;
        flex-shrink: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;
        div {
            width: fit-content;
            button{
                margin-left: 1em;
            }
        }
        .btn {
            margin-bottom: 0;
        }
    }
}