@import 'styles/theme';
 
/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list
 
  for more information visit https://sass-lang.com/guide
*/
 
.profile {
 
  input, .datePicker {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
  h1 {
    margin-bottom: 0;
  }
  .infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      margin-bottom: 0;
    }
  }
  
  a {
    margin-top: 1em;
    width: 100%
  }
  
}
 
.player {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    height: auto;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }
  &.username {
    font-weight: 500;
    color: $accent;
    text-align: center;
  }
}