.agora-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  transition: background-image 3s ease, border 3s;
  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
  }
  &-audio {
    &-dark {
      background-image: url('../../../public/static/media/microphone-disabled-black.svg');
      border-color: $color-text-dark;
      &.enabled {
        background-image: url('../../../public/static/media/microphone-enabled-black.svg');
      }
    }
    &-light {
      background-image: url('../../../public/static/media/microphone-disabled-white.svg');
      &.enabled {
        background-image: url('../../../public/static/media/microphone-enabled-white.svg');
      }
    }
  }
  &-video {
    &-dark {
      background-image: url('../../../public/static/media/video-disabled-black.svg');
      border-color: $color-text-dark;
      &.enabled {
        background-image: url('../../../public/static/media/video-enabled-black.svg');
      }
    }
    &-light {
      background-image: url('../../../public/static/media/video-disabled-white.svg');
      &.enabled {
        background-image: url('../../../public/static/media/video-enabled-white.svg');
      }
    }
  }
}