.btn {
  position: relative;
  padding: 10px 15px;
  border: 3px solid $color-text-dark;
  border-radius: 100px;
  background: none;
  color: $color-text-dark;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
  min-width: 100px;
  overflow: hidden;
  z-index: 1;
  @include transition;
  &:before {
    content: '';
    position: absolute;
    background: $color-text-dark;
    opacity: 0.2;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    @include transition;
  }
  &:hover:enabled {
    cursor: pointer;
    right: 0;
    &::before {
      right: 0;
    }
  }
  &:active:enabled::before {
    opacity: 0.3;
  }
  &-light {
    border-color: $color-text-light;
    color: $color-text-light;
  }
  &-danger {
    border-color: $color-danger;
    color: $color-danger;
  }
  &:disabled {
    opacity: 0.5;
  }
}
