.link {
  text-decoration-line: underline;
  display: inline-block;
  color: $color-text-dark;
  &:hover {
    font-weight: bold;
  }
  &-light {
    color: $color-text-light;
  }
  &-danger {
    color: $color-danger;
  }
}