.log-container{
  margin-top: 30px;
  .update{
    z-index: 2;
    position: absolute;
    font-size: 12px;
    text-align: center;
    &-not-active{
      opacity: 0;
    }
    &-active{
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: red;
      border: #bc0000 2px solid;
      margin-left: 36px;
      margin-top: -1px;
    }
  }
  .log-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    user-select: none;
    border: solid 2px white;
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center;
    transition: border 3s ease;
    &:hover {
      cursor: pointer;
      background-color: rgba(0,0,0,0.4);
    }
    &-light {
      background-image: url('../../../public/static/media/scroll-white.svg');
    }
    &-dark {
      background-image: url('../../../public/static/media/scroll-black.svg');
      border-color: $color-text-dark;
    }
  }
}
