@import 'styles/theme';

.primary-button {
  position: relative;
  height: 50px;
  border-radius: 40px;
  border: 6px solid $color-text-night;
  margin: 6px;
  font-weight: 700;
  font-size: 20px;
  color: $color-text-night;
  background: none;
  z-index: 1;
  cursor: pointer;
  overflow:hidden;
  transition: font-weight 0.1s ease-in;

  &:hover:enabled {
    font-weight:701;
  }

  &:before {
    content: "";
    position: absolute;
    background: grey;
    opacity: 0.2;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    transition: right 0.15s ease-in;
  }

  &:hover:enabled:before {
    right: 0;
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}
