@import 'styles/theme';

.log-popup {
  &-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: 50px 0;
    z-index: 10;
  }

  &-container {
    padding: 10px 5px 25px 42px;
    min-width: 200px;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    max-height: 700px;
    position: relative;
    margin: auto auto;
    overflow-y: scroll;
  }

  &-title {
    text-align: center;
    margin-top: -20px;

  }

  &-close {
    -webkit-transition: filter 3s ease;
    position: sticky;
    float: right;
    width: 20px;
    height: 20px;
    right: 0;
    top: 5px;
    user-select: none;
    -webkit-user-drag: none;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    &-light {
      filter: brightness(1) invert(1);
    }
  }

  &-action-container {
    -webkit-transition: background-color 3s ease;
    text-shadow: none;
    margin-right: 27px;
    min-height: 60px;
    margin-bottom: 10px;
    border-radius: 20px;
    text-align: center;
    border: $color-text-dark solid 2px;
    p {
      margin-top: -20px;
    }
    h3 {
      margin-bottom: -15px;
      margin-top: -10px;
    }

    &-dark {
      background-color: #FFFFFF15;
    }

    &-light {
      background-color: #00000020;
    }

    .profile {
      margin-bottom: 15px;
      margin-top: -15px;
    }

    .death-event {
      background-image: url('../../../public/static/media/blood.webp'), url('../../../public/static/media/blood2.webp');
      background-repeat: no-repeat, no-repeat;
      background-size: 10% auto, 10% auto;
      background-position: top right, bottom left;

      .profile {
        margin-top: 5px;
        margin-bottom: 30px;
      }
    }

    .mayor-event {
      .profile {
        margin-top: 32px;
        margin-bottom: 25px;
      }
      position: relative;
      .hat {
        position: absolute;
        height: 70px;
        width: auto;
        margin-left: -70px;
      }
      .bow-tie {
        position: absolute;
        height: 23px;
        width: auto;
        margin-top: 124px;
        margin-left: -25px;
      }
    }

    .seer-vision {
      position: relative;
      .profile {
        margin-top: 5px;
        margin-bottom: 35px;
      }

      .sphere {
        position: absolute;
        margin-top: -14px;
        height: 143px;
        width: auto;
        margin-left: -66px;
      }
    }

    .lover-event {
      position: relative;
      background-image: url('../../../public/static/media/heart.webp');
      background-repeat: no-repeat;
      background-size: 230px auto;
      background-position: top 50px center;

      .profile {
        margin-top: 50px;
        margin-bottom: 60px;
      }
    }

    .role-image {
      height: 280px;
      width: 280px;
      border-radius: 25px;
      margin-bottom: 15px;
    }
  }
}

.log-popup-container::-webkit-scrollbar {
  width: 7px;
}

.log-popup-container-light::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $color-text-dark;
}

.log-popup-container-dark::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $color-text-light;
}

.log-popup-container::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}
