@import 'styles/theme';

.form-field {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 280px;
  label {
    font-family: inter;
    text-align: center;
    font-weight: bold;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
  }
}
