@import 'styles/theme';

.form-field {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 280px;
  label {
    text-align: center;
    font-weight: bold;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $color-text-dark;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: $color-text-dark;

    &:hover {
      font-weight: bold;
    }

    &:focus {
      font-weight: bold;
    }
  }

  &-light {
    border-color: $color-text-light;
    color: $color-text-dark;
  }

  &-danger {
    border-color: $color-danger;
    color: $color-danger;
  }
}
