@import 'styles/theme';

.input {
  position: relative;
  height: 35px;
  padding-left: 15px;
  border: none;
  margin-left: -4px;
  margin-bottom: 20px;
  color: $color-text-night;
  text-align: center;
  border-bottom: $color-text-night solid 4px;
  transition: 0.1s ease-in;
  overflow: hidden;
  background: none;

  &:hover {
    font-weight: 600;
  }

  &:focus {
    font-weight: 600;
  }
}