@import 'styles/theme';

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .8em 1em;
    height: min-content;
    &-name {
        margin: 0.4em 0 0 0;
    }
    &-votes {
        margin: 0.2em 0;
        padding: 0;
        font-family: $font-default;
        font-weight: 600;
    }
    .video{
        //background-color: transparent !important;
        //width: 100px;
        //height: 100px;
        border-radius: 80px;
        background-color: white;
        video{
            border-radius: 50%;
        }
    }
    &-lobby{
        &-video {
            height: 90px;
            width: 90px;
            border-radius: 100px;
        }
        video{
            border-radius: 50%;
        }
        div{
            background-color: transparent !important;
        }
    }
    &-hitlist{
        &-video {
            height: 100px;
            width: 100px;
            border-radius: 100px;
            border: 2px solid red;
        }
    }
    &-lover, &-hitlist-leader {
        &-video {
            height: 150px;
            width: 150px;
            border-radius: 100px;
        }
    }
    &-hitlist-leader{
        &-video {
            border: 4px solid red;
        }
    }
    &-lover {
        &-video {
            border: 5px solid violet;
        }
    }
    &-selection-small  {
        margin: 0.5em 1em;
        &-video {
            height: 75px;
            width: 75px;
            border-radius: 50px;
            transition: all 0.2s ease-in-out;
        }
        &-isNotVoter {
            .video {
                opacity: 0.3 !important;
                transition: all 0.2s ease-in-out;
            }
            .profile-name{
                opacity: 0.3 !important;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    &-selection-big  {
        .video {
            height: 100px;
            width: 100px;
            border-radius: 50px;
            transition: all 0.2s ease-in-out;
        }
        &-kill {
            .video {
                height: 100px;
                width: 100px;
                border-radius: 50px;
                border: 5px solid red;
                transition: all 0.2s ease-in-out;
            }            
        }
        &-save {
            .video {
                height: 100px;
                width: 100px;
                border-radius: 50px;
                border: 5px solid green;
                transition: all 0.2s ease-in-out;
            }
        }
        &-select {
            .video {
                height: 100px;
                width: 100px;
                border-radius: 50px;
                border: 5px solid blue;
                transition: all 0.2s ease-in-out;
            }
        }
        &-hidden {
            .video {
                height: 100px;
                width: 100px;
                border-radius: 50px;
                opacity: 0.3;
                transition: all 0.2s ease-in-out;
            }
            .profile-name{
                opacity: 0.3;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    &-singleOption {
        &-video {
            height: 150px;
            width: 150px;
            border-radius: 80px;
            transition: all 0.2s ease-in-out;
        }
        &-kill {
            &-video {
                height: 150px;
                width: 150px;
                border-radius: 80px;
                transition: all 0.2s ease-in-out;
                border: 5px solid red;
            }            
        }
        &-save {
            &-video {
                height: 150px;
                width: 150px;
                border-radius: 80px;
                transition: all 0.2s ease-in-out;
                border: 5px solid green;
            }
        }

    }
    &-dead-player {
        margin: 0.5em 0.9em;
        &-video {
            height: 65px;
            width: 65px;
            border-radius: 50px;
        }
        .profile-name {
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }
    }
    
    
    
}