.roles-column {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  h2 {
    margin-bottom: 20px;
  }

  h5 {
    margin-top: 20px;
  }

  .individual-role {
    @include center;
    flex-direction: column;

    img {
      height: 180px;
      width: 180px;
      border-radius: 20px;
      margin: -10px 2px -20px;
    }
  }
}