@import 'styles/theme';

.role-information {
  @include center;
  flex-direction: column;

  p{
    text-align: center;
  }

  img {
    height: 400px;
    width: 400px;
    border-radius: 30px;
    margin-bottom: 20px;
  }

  h5 {
    margin-bottom: -30px;
  }
}