///////////// COLORS

$color-bg-main: #bae09f;
$color-bg-primary: #30305d;
$color-bg-secondary: #bff9b5;
$color-danger: #dd2222;

///////////// SCREEN SIZES
$width-xl: 1160px;
$width-lg: 970px;
$width-md: 750px;
$width-sm: 667px;

///////////// FONTS
$font-default: 'Inter', sans-serif;
$font-serif: 'Labrada', serif;

///////////// MISC
$drop-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
$border-radius: 0.75em;

///////////// MIXINS

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
