///////////// COLORS

$color-bg-light: #bae09f;
$color-bg-dark: #30305d;
$color-danger: #dd2222;
$color-text-night: #EEEEEE;
$color-text-day: #000000;

///////////// SCREEN SIZES
$width-xl: 1160px;
$width-lg: 970px;
$width-md: 750px;
$width-sm: 667px;

///////////// FONTS
$font-default: 'Inter', sans-serif;
$font-serif: 'Labrada', serif;

///////////// MISC

///////////// MIXINS

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition {
  transition: all 0.3s ease;
}
