@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Labrada:wght@300;400;500;600;700;800&display=swap');
@import 'styles/theme';
@import 'styles/components/button';
@import 'styles/components/columnContainer';
@import 'styles/components/link';
@import 'styles/ui/information/RoleInformation';
@import 'styles/ui/information/RoleColumn';
@import 'styles/ui/FormField';

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-default;
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: $font-serif;
  padding: 20px 0;
}

h1 {
  font-size: 60px;
}

h5,
button {
  font-size: 18px;
}

a {
  display: inline-block;
  text-decoration: none;
}

.background {
  min-height: 100vh;
  &-light {
    background-color: $color-bg-light;
    color: $color-text-dark;
  }
  &-dark {
    background-color: $color-bg-dark;
    color: $color-text-light;
  }
  &-dark-image {
    background-image: url('../../public/assets/bg-dark.png');
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    color:white;
  }
}

.container {
  max-width: $width-xl;
  margin: 0 auto;
}


